name: my-job-portal-ui
on:
  push:
    branches: [JB-3]
  pull_request:
    branches: [master]

  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: Select an action.
        required: true
        options:
          - Build
          - dev
          - prod
      deployFromArtifactory:
        type: boolean
        description: Deploy/Release from pre-existing application version from artifactory? Please specify.
      artifactVersion:
          description: Enter artifact version

jobs:
  init:
    name: Init
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest


    steps:
      - run: echo '${{inputs.deployFromArtifactory}}'
      - run: echo '${{inputs.artifactVersion}}'
      - name: Validate
        if: inputs.deployFromArtifactory == true
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Deploy from artifactory option is selected but artifact version not provided!')
  build:
    name: Build
    strategy:
      fail-fast: true
      matrix:
        node-version: [ '16.10.0' ]
    needs: init
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Commit History
        run: |
          git log --pretty=format:"%h %ad%x09%an%x09%s" --date=short --first-parent "${{ github.ref_name }}"  | head -20

      - name: Download binary
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        run: |
          npm ci
          npm run build:prod

      - name: Static analysis
        run: |
          echo "Linting in progress..."
          npm run lint
          echo "Type checking in progress..."
          npm run check:typings

  test:
    name: Test
    strategy:
      fail-fast: true
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Restore node_modules
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Unit Tests
        run: |
          echo "Unit Tests are running..."
#          npm run test

  security:
    name: Vulnerability Scan
    strategy:
      fail-fast: true
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment:
      name: dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: SAST Scan
        uses: ShiftLeftSecurity/scan-action@master
        with:
          type: 'nodejs'

      - name: SCA scan
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  publish:
    name: Publish Artifacts
    if: inputs.action == 'build' || inputs.action == 'dev' || (inputs.action == 'prod' && contains(github.ref_name, 'release/'))
    strategy:
      fail-fast: true
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.action }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Restore node_modules
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Get application version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@main

      - name: Create artifacts
        run: |
          echo "Running production build..."
          npm run build:prod

      - name: Compress artifacts
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r "my-job-portal-${{ steps.package-version.outputs.current-version }}.${{ github.run_number }}-SNAPSHOT.zip" build

      - name: Publish to artifactory
        uses: advancedcsg-open/action-jfrog-cli@master
        with:
          url: ${{ secrets.ARTIFACTORY_URL }}
          credentials type: 'accesstoken'
          access token: ${{ secrets.JFROG_TOKEN }}
          args: upload "my-job-portal-${{ steps.package-version.outputs.current-version }}.${{ github.run_number }}-SNAPSHOT.zip" "my-job-portal-fe-generic-local/" --fail-no-op=true

  deploy_to_dev:
    name: Deploy to Dev
    if: inputs.action == 'dev'
    strategy:
      fail-fast: true
    needs: publish
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.action }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get application version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@main

      - name: Get artifacts
        uses: advancedcsg-open/action-jfrog-cli@master
        with:
          url: ${{ secrets.ARTIFACTORY_URL }}
          credentials type: 'accesstoken'
          access token: ${{ secrets.JFROG_TOKEN }}
          args: download "my-job-portal-fe-generic-local/my-job-portal-${{ steps.package-version.outputs.current-version }}.${{ github.run_number }}-SNAPSHOT.zip" --fail-no-op=true

      - name: Uncompress artifacts
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq "my-job-portal-${{ steps.package-version.outputs.current-version }}.${{ github.run_number }}-SNAPSHOT.zip" -d build

      - name: Publish
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-args: "--prod"
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
