name: my-job-portal-ui
on: [pull_request, workflow_call]
default:
jobs:
  build:
    name: Build
    strategy:
      fail-fast: true
      matrix:
        node-version: [ '16.10.0' ]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
          with:
            node-version: '16.10.0'

      - name: Install dependencies
          run: npm ci

      - name: Static analysis
          run: |
            echo "Linting in progress..."
            npm run lint
            echo "Type checking in progress..."
            npm run check:typings

      - name: Webpack Build
          run: |
            echo "Running production build..."
            npm run build:prod

  test:
    name: Test
    needs: build
    runs-on: macos-latest
    steps:
      - name: Unit Test
          run: |
            echo "Unit Tests are running..."

